plugins {
    id 'nf-amazon'
}

process {
    executor = 'awsbatch'
    queue = 'default-truwl-nextflow-west1'
    container = 'quay.io/biocontainers/salmon'
}

aws {
    batch {
        // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-west-1'
}
